<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Our Amazing Team</h2>
		</div>
	</div>
	<div class="row">
		<div class="team-member">
			<div class="col-sm-3">
				<img src="../img/joao.jpg" class="img-responsive img-circle">
				<h4>João Rodrigues</h4>
				<p class="text-muted">Developer</p>
			</div>
			<div class="col-sm-3">
				<img src="../img/ze.png" class="img-responsive img-circle">
				<h4>José Sequeira</h4>
				<p class="text-muted">Man with the Plan</p>
			</div>
			<div class="col-sm-3">
				<img src="../img/vicente.jpg" class="img-responsive img-circle">
				<h4>Miguel Vicente</h4>
				<p class="text-muted">Developer</p>
			</div>
			<div class="col-sm-3">
				<img src="../img/vasco.jpg" class="img-responsive img-circle">
				<h4>Vasco Santos</h4>
				<p class="text-muted">Developer</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Our System</h2>
		</div>
	</div>
	<div class="row">
		<div class="team-member">
			<img src="../img/diag.png" class="img-responsive">
		</div>
	</div>
</div>